# Tuple

- Tuples are ordered, immutable sequences of values.

Tuples are used to hold together  **multiple objects** 

Think of them as similar to lists, but without the extensive functionality that the list class gives you. 
 
One major feature of tuples is that they are **immutable i.e. you cannot modify tuples**.
 
Tuples are defined by specifying **items separated by commas within an optional pair of parentheses**.

Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values
i.e. the tuple of values used will not change.

# Creating a Tuple

## create a empty tuple

In [ ]:
t = ()

In [ ]:
t

In [1]:
t1 = tuple()

In [2]:
t1

()

## Create Tuple with single element

In [3]:
t2 = (10,)

In [4]:
t2

(10,)

In [5]:
type(t2)

tuple

In [6]:
# Tuple is immutable
t2[0] = 20.5

TypeError: 'tuple' object does not support item assignment

## Creating a Tuple hodling elements of multiple Data Types.

In [7]:
a = 50

In [8]:
t3 = (1,2,30.0,"python",a, t2, [10,20])

In [9]:
type(t3)

tuple

In [10]:
t3

(1, 2, 30.0, 'python', 50, (10,), [10, 20])

In [11]:
# tuple argument packing 
t4 = 1,2,30.0,"python",a, t2, [10,20]

In [12]:
type(t4)

tuple

In [13]:
t4

(1, 2, 30.0, 'python', 50, (10,), [10, 20])

In [14]:
t4[1] = 100

TypeError: 'tuple' object does not support item assignment

In [15]:
# if a tuple contains subelement which is mutable than that tuple can also mutate
id(t4)

3043395387456

In [16]:
t4[-1].append("python")

In [17]:
t4

(1, 2, 30.0, 'python', 50, (10,), [10, 20, 'python'])

In [18]:
id(t4)

3043395387456

In [19]:
t4[-1].pop()

'python'

In [20]:
t4

(1, 2, 30.0, 'python', 50, (10,), [10, 20])

In [21]:
id(t4)

3043395387456

# Acessing the elements of tuple

In [22]:
t4

(1, 2, 30.0, 'python', 50, (10,), [10, 20])

## Indexing

In [23]:
# Acess python from tuple t4
t4[3]

'python'

In [24]:
a = t4[3]

In [25]:
print(a)

python

In [ ]:
# Access the indvidaul element of subelement present inside a tuple

In [26]:
t4[6]

[10, 20]

In [27]:
len(t4[6])

2

In [28]:
t4[6][0]

10

In [29]:
t4[6][1]

20

In [30]:
b = t4[6]

In [31]:
b

[10, 20]

In [32]:
b[0]

10

In [33]:
b[1]

20

## Slicing

In [34]:
t4

(1, 2, 30.0, 'python', 50, (10,), [10, 20])

In [35]:
# Access element from index 2 to index 5 i.e 30.0, 'python', 50, (10,)
t4[2:6]

(30.0, 'python', 50, (10,))

In [36]:
# Acess every alternate element from tuple t4 starting from index 0
t4[0:7:2]

(1, 30.0, 50, [10, 20])

In [37]:
t4[::2]

(1, 30.0, 50, [10, 20])

## Iterating over a Tuple

In [38]:
t4

(1, 2, 30.0, 'python', 50, (10,), [10, 20])

In [40]:
for ele in t4 :
    print(ele, end = " ")

1 2 30.0 python 50 (10,) [10, 20]

In [41]:
i = 0
while i < len(t4):
    print(t4[i])
    i += 1

1
2
30.0
python
50
(10,)
[10, 20]

# Tuple Assigment

In [ ]:
# if you assign a value to a tuple a new tuple is created in memory

## Writing over a tuple

In [42]:
t7 = (70,80)

In [43]:
id(t7)

3043393362240

In [44]:
t7 = (80,90)

In [45]:
id(t7)

3043393446336

## Tuple unpacking and packing

In [46]:
# packing
t8 = 1,2.0,"python",True,(10,20)

In [47]:
t8

(1, 2.0, 'python', True, (10, 20))

In [48]:
# unpacking
var1,var2,var3,var4,var5 = t8

In [49]:
print(var1,var2,var3,var4,var5)

1 2.0 python True (10, 20)

In [50]:
a,b,c = t8

ValueError: too many values to unpack (expected 3)

# Built-in Function that can be applied to a tuple

In [51]:
t1 = (1,2,30.0,'python',(20,30),[10,20])
t2 = ("python","abc of programming","programming")
t3 = (2.5,2,10,15,100.5)
t4 = ([1,20],[2,15,20])

## len()

In [52]:
len(t1)

6

In [53]:
len(t2)

3

In [54]:
len(t3)

5

In [55]:
len(t4)

2

## sum()

In [56]:
sum(t3)

130.0

In [57]:
sum(t1)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [58]:
sum(t2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [59]:
sum(t4)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

## min()

In [60]:
min(t2)

'abc of programming'

In [61]:
min(t3)

2

In [62]:
min(t4)

[1, 20]

In [63]:
t5 = ([1,20],[0,15,20])

In [64]:
min(t5)

[0, 15, 20]

## max()

In [65]:
max(t2)

'python'

In [66]:
max(t3)

100.5

In [67]:
max(t4)

[2, 15, 20]

In [68]:
max(t5)

[1, 20]

## sorted()

In [69]:
t2

('python', 'abc of programming', 'programming')

In [70]:
sorted(t2)

['abc of programming', 'programming', 'python']

In [71]:
sorted(t2,reverse = True)

['python', 'programming', 'abc of programming']

In [72]:
sorted(t2,reverse = True , key = len)

['abc of programming', 'programming', 'python']

In [73]:
sorted(t3)

[2, 2.5, 10, 15, 100.5]

In [74]:
sorted(t4)

[[1, 20], [2, 15, 20]]

In [75]:
sorted(t5)

[[0, 15, 20], [1, 20]]

## any()

In [76]:
t6 = False, "",0,[],{},(10,20)

In [77]:
any(t6)

True

In [78]:
t7 = False, "",0,[],{},()

In [79]:
any(t7)

False

## all()

In [80]:
t1

(1, 2, 30.0, 'python', (20, 30), [10, 20])

In [81]:
all(t1)

True

In [82]:
t8 = t1,False

In [83]:
t8

((1, 2, 30.0, 'python', (20, 30), [10, 20]), False)

In [84]:
all(t8)

False

## enumerate()

In [ ]:
# returns a enumarte object which contains a pair

In [85]:
t1

(1, 2, 30.0, 'python', (20, 30), [10, 20])

In [86]:
enumerate(t1)

In [87]:
var = tuple(enumerate(t1))

In [88]:
var

((0, 1), (1, 2), (2, 30.0), (3, 'python'), (4, (20, 30)), (5, [10, 20]))

# Deleting a entire Tuple

In [89]:
t1

(1, 2, 30.0, 'python', (20, 30), [10, 20])

In [90]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [91]:
t1

(1, 2, 30.0, 'python', (20, 30), [10, 20])

In [92]:
del t1

In [93]:
t1

NameError: name 't1' is not defined

# Tuple Methods

In [94]:
t = (1,2,30.0,'python',(20,30),[10,20],"python")

In [95]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [96]:
help(t.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [97]:
t.count("python")

2

In [98]:
help(t.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.tuple instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [99]:
t.index("python")

3

In [100]:
t.index(8)

ValueError: tuple.index(x): x not in tuple

# Creating dictionary using a Tuple

In [101]:
t

(1, 2, 30.0, 'python', (20, 30), [10, 20], 'python')

In [102]:
var = tuple(enumerate(t))

In [103]:
var

((0, 1),
 (1, 2),
 (2, 30.0),
 (3, 'python'),
 (4, (20, 30)),
 (5, [10, 20]),
 (6, 'python'))

In [104]:
d = dict (var)

In [105]:
type(d)

dict

In [106]:
d

{0: 1, 1: 2, 2: 30.0, 3: 'python', 4: (20, 30), 5: [10, 20], 6: 'python'}

In [107]:
for k,v in d.items():
    print(f"keys {k} value {v}")

keys 0 value 1
keys 1 value 2
keys 2 value 30.0
keys 3 value python
keys 4 value (20, 30)
keys 5 value [10, 20]
keys 6 value python

# Aditional Example

In [ ]:
zoo = ('python','elephant','penguine')

In [ ]:
print(type(zoo))

In [ ]:
print('number of elements in the zoo is',len(zoo))

In [ ]:
new_zoo = 'monkey','camel',zoo

In [ ]:
print('Number of cages in new zoo is',len(new_zoo))

In [ ]:
print('all the animals in new zoo are', new_zoo)

In [ ]:
print('animals brought from old zoo are',new_zoo[2])

In [ ]:
print('Last animal bought from old zoo is',new_zoo[2][2])

In [ ]:
print('Number of animals in the new zoo is',len(new_zoo)-1+len(new_zoo[2]))

In [ ]:
for elements in new_zoo:
    print(elements)

In [ ]:
for elements in new_zoo:
    if type(elements).__name__ == 'tuple':
        for ii in elements:
            print(ii)
    else:
        print(elements)